@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

h1, h2, h3{
    letter-spacing: 2px;
}

.logo {
    text-align: center;
    color: gold;
    padding: 20px;
}

header{
    background: rgb(1, 41, 29);
    color: #fff;
}

.main-background {
  z-index: 10;
}

.sliders {
  display: flex;
}

.des{
  width: 100%;
  height: 100%;
  margin-left: 30px;
  margin-top: 13%;
}
 
.images {
  width: 270%;
  float: right;
}

.slides {
  display: none;
  height: 540px;
  width: 100%;
}



.brand {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 30px;
}

.brand img {
    margin-bottom: 20px;
}

.jwellary img{
	margin-top:60px;
	margin-bottom:30px;
	}
.jwellary p{
	color:#b7b7b7;
	line-height:25px;
	width:426px;
	}

.pararight {
    float: right;
}

.paraleft {
    float: left;
}

nav.nav-sticky{
    width: 100%;
    position: fixed;
    top: 0;
    background: #222;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 10;
    transition: all 1s;
  }
  
  nav ul{
    list-style: none;
    text-align: center;
    padding: 10px;
    border: 1px solid #222;
  }
  
  nav ul li a.active{
    color: #fcbe32;
  }
  
  nav ul li{
    display: inline;
    padding: 20px;
  }
  
  nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #999;
  }
  
  nav ul li a:hover{
    color: #fcbe32;
  }

  .about-des{
      padding: 120px;
  }

  .aboutrow {
      display: grid;
      text-align: center;
      grid-template-columns: auto auto;
      padding: 30px;
  }

  .indeximage2 {
    text-align: center;
  }

  .box-container {
    display: flex;
  }

  .para1 {
    float:left;
    background-color: rgb(230, 218, 218);
    padding: 100px;
    height: 100%;
    width: 100%;
    word-spacing: 10px;
  }

  .para2 {
    float:right;
    background-color:azure;
    padding: 100px;
    height: 100%;
    width: 100%;
    word-spacing: 10px;
  }

  .para112 {
    float:left;
    padding: 170px;
    height: 100%;
    width: 100%;
    word-spacing: 10px;
    background-color: rgb(225, 236, 185);
  }

  .para11 {
    float:left;
    word-spacing: 10px;
    padding: 30px;
    background-color: bisque;
  }

  .para21 {
    float:right;
    padding: 30px;
    /*padding: 100px;
    height: 300px;
    width: 100%;*/
    word-spacing: 10px;
    background-color:cadetblue;
  }

  .logolink {
      float: left;
      margin-left: 2%;
  }

  .about-header {
      height:110px;
      top: 0px;
      width: 100%;
      position: fixed;
  }

  .navitems-about {
      padding-top: 20px;
  }

  .wrapper {
    display: flex;
    position: fixed;
  }

  .wrapper .sidebar {
      position: fixed;
      width: 240px;
      height: 100%;
      background: orange;
      padding: 30px 0px;
      margin-top: 7.25%;
  }

  .wrapper .sidebar h2 {
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
  }

  .wrapper .sidebar h1 {
    color:rgb(4, 82, 10);
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(225, 225, 225, 25);
  }

  .wrapper .sidebar ul li {
      padding: 20px;
      border-bottom: 1px solid rgba(225, 225, 225, 25);
      border-top: 1px solid rgba(225, 225, 225, 25);
  }

  .wrapper .sidebar ul li a{
      color: #550523;
      display: block;
      padding-left: 0px;
  }

  .wrapper .sidebar ul li:hover {
      background: #594f8d;
  }

  .wrapper .sidebar h1:hover {
    color: blanchedalmond;
  }

  .wrapper .sidebar ul li:hover a{
      color: #fff;
  }

 
  .collection-list{
      padding-left: 200px;
  }
  
  .collection-list ul{
    list-style: none;
  }
  
  .collection-list ul li{
    display: inline-block;
    padding: 14px;
  }

  .section-head {
      padding-top: 60px;
      padding-left: 160px;
  }

  .header1 {
    text-align: center;
    padding-left: 12%;
    padding-top: 10px;
  }
  
  .row1 {
      padding-left: 25%;
  }

  .column1 {
    float: left;
    width: 40%;
  }
  
  .column1 img {
    margin-top: 12px;
  }
  
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }

  .list-head1 {
      text-align: center;
      margin-left: -40%;
      margin-top: 0%;
      padding: 30px;
  }


  form{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  input[type=text], input[type=button], textarea{
    width: 50%;
    padding: 10px;
    border: 1px solid #690457;
    border-radius: 4px;
    margin: 6px;
    resize: vertical;
  }
  
  input[type=button]{
    background: #750661;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
  
  input[type=button]:hover{
    background: #85036d;
  }
  
  

  .section-head1 {
      padding-top: 30px;
  }

  .shop-item-price {
      padding: 10px;
  }

  .btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    margin-top: 60px;
}

.btn-primary:hover {
    background-color: #62da13;
}

.section-header {
    padding-top: 110px;
}

.cartsec-header {
  text-align: center;
  padding: 30px;
  margin-left: -15%;
  color:#245205;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
  padding-top: 20px;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 2%;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
  margin-right: 10%;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px 36%;
  font-size: 1.75em;
}

.section-header {
  margin-left: 200px;
}

/*.shop-item {
  margin-top: 5%;
  margin-left: -100px;
}

.shop-item-title {
  /*display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 15px;
  margin-left: 160px;
  margin-top: 5%;*/


/*.shop-item-image {
  height: 250px;
  margin-left: 300px;
}

.shop-item-details {
  /*display: flex;
  align-items: center;
  padding: 55px;
}

.shop-item-price {
  /*flex-grow: 1;
}

.shop-items {
  display: flex;
}

.shop-item-button {
}*/

.section{
  width: 100%;
}

.titlepart {
text-align: center;
height: 20%;
color:#c50d50;
}

.shop-items {
  height: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45% 45%;
}

.shop-item {
  height: 50%;
  margin: 0%;
}

.shop-item-title {
  text-align: center;
  padding-bottom: 2%;
}

.shop-item-image {
  margin-left:30% ;
  height: 60%;
  width: 40%;
}

.shop-item-details {
  text-align:center;
}

.shop-item-price {

}

.shop-item-button {
margin-top: 0%;
}

.collection {
  display:flex;
}

.lefty {
  width: 20%;
  height: 100%;
}

.righty {
  width: 80%;
  margin-top: 7%;
}

/*==========  FOOTER ==========*/

.bottom-links {
  text-align: center;
}
  
.bottom-links ul{
  list-style: none;
  text-align: center;
  padding: 40px;
}

.bottom-links li{
  display: inline;
  padding: 12px;
}

.bottom-links ul li a{
  text-decoration: none;
  color: #888;
  font-size: 12px;
}

.bottom-links ul li a:hover,
.buttom-links ul li a:focus{
  color: #985d8d;
}

footer{
  padding: 20px;
  background: #222;
  color: #fcbe32;
  text-align: center;
}

.container {
  max-width: 100%;
  margin: 0;
  text-align: center;
  padding: 0px;
}

.content-section {
  height:768px;
  margin-top: 300px;
}

.section1 {
  text-align: center;
  margin-left: -22%;
  height: 100vh;
}

.gap{
  width: 100%;
  height: 150px;
  background-color: #550523;
  color: #fff;
  text-align: center;
  padding: 40px;
}

.gap1{
  width: 100%;
  height: 130px;
  background-color: #fff;
}